

html {
  min-height: 100%;
}

body {
  background: linear-gradient( black, black, #7c0000);
  font-family: 'verdana', sans-serif;
  font-weight: bold;
  line-height: 30px;
  font-size: 16px;
  color: white;
  margin: 0;
}

header {
  height: 15vb;
  width: 100%;
  margin: 0;
  border-bottom: 2px #6dc3ff solid;
  background: linear-gradient(black, #420000, #680000, #c30000);
}

#lienLogo {
  display: block;
  margin: auto;
  width: 600px;
  height: 100%;
  transition: 0.15s;
  opacity: 0.8;
}

#lienLogo:hover {
  transform: scale(1.02);
  opacity: 1;
}

#imageLogo {
  width: 100%;
  margin: 4vb auto 3vb auto;
}

#zone {
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 60px;
  width: 800px;
  text-align: center;
  margin-top: 80px;
  position: relative;
}

button {
  margin: 10px 2px 10px 2px;
  border-radius: 20px;
  font-weight: bold;
  padding: 8px;
  font-size: 14px;
  border: none;
  box-shadow: black 3px 5px 12px;
  background-color: #f1f1f1;
  width: 220px;
  font-family: 'verdana', sans-serif;
  transition-property: box-shadow, transform, opacity;
  transition-duration: 0.08s;
}

button:hover {
  box-shadow: none;
  transform: scale(0.96);
  transition-property: box-shadow, transform, opacity;
  transition-duration: 0.15s;

}

#boutonRetour {
  position: absolute;
  border-radius: 0;
  box-shadow: none;
  width: 63px;
  height: 65px;
  background-color: transparent;
  left: 50px;
  top: -80px;
  padding: 0;
  transition-property: border, opacity;
  transition-duration: 0.4s;
  opacity: 0.6;
}

#boutonRetour:hover {
  transform: none;
  border-right: 3px #a8dbff solid;
  opacity: 1;
}

#boutonRetour:hover > img {
  transform: translateX(-10px);
}

#imagesRetour {
  width: 65px;
  transition: 0.2s;
}

#boutonRejouer {
  width: 100px;
  margin-top: 80px;
  background-color: #a8dbff;
  font-size: 17px;
}


.boutonRouge {
  background-color: #ff9787;
}


#imagePerso {
  width: 300px;
  margin: auto;
  margin-top: 15px;
  border-radius: 50px;
}

.imagePerso {
  display: block;
  border: 4px transparent solid;
}

#imageCoupe {
  width: 300px;
  transform: scale(1.4);
  opacity: 0;
  transition: 2s;
  display: none;
}

#fondGauche, #fondDroite, #fondCentre {
  position: absolute;
  height: 82vb;
  top: 15vb;
  opacity: 0.5;
  filter: drop-shadow(0 -10px 30px #8f0000);
}

#fondGauche {
  left: 0;  
}

#fondDroite {
  right: 0;
}

#fondCentre {
  display: none;
}

.animErreur {
  border: 4px #ca0000 solid;
  box-shadow: 0 0 20px #ff0000;
}

.animErreurDeux {
  border: 4px transparent solid;
  box-shadow: none;
  transition-property: border, box-shadow;
  transition-duration: 2s;
}

#zoneTexte {
  height: 40px;
  width: 400px;
  margin: auto;
}

#texteAffiche {
  margin-top: 15px;
  font-size: 16px;
  transition-property: transform, opacity;
  transition-duration: 0.2s, 0.8s;
}

#divSousTexte {
  width: 600px;
  position: absolute;
  left: 100px;
  top: 280px;
}

#sousTexte {
  font-size: 14px;
  margin-top: 0px;
  opacity: 0;
  transition: 0.25s;
  color: #eeeeee;
}

#sousTexte b {
  font-size: 14px;
  font-weight: normal;
  color: #bbbbbb;
}

#propositions {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  transform: scale(1.2);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 1.5s;
}

.boutonsCommencer {
  width: 200px;
  background-color: #a8dbff;
  font-size: 17px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 15px;
  padding: 7px;

}

#score {
  font-family: 'verdana', sans-serif;
  position: absolute;
  left: 560px;
  width: 150px;
  text-align: left;
  font-size: 13px;
  transform: translateX(40px);
  opacity: 0;
  transition: 2s;
}

#compteurID {
  font-family: 'verdana', sans-serif;
  position: absolute;
  left: 130px;
  text-align: left;
  width: 200px;
  font-size: 13px;
  transform: translateX(-40px);
  opacity: 0;
  transition: 2s;
}

#barreComplete {
  position: absolute;
  left: 300px;
  top: -20px;
  width: 200px;
  height: 8px;
  border: 1px #bbbbbb solid;
  border-radius: 5px;
  transform: translateY(-30px);
  opacity: 0;
  transition: 2s;
}

#barrePourcentage {
  width: 0;
  height: 8px;
  background-color: #a8dbff;
  border-radius: 5px;
  transition-property: width;
  transition-duration: 0.5s;
}

#totalPersoAffiche {
  font-family: sans-serif;
  font-size: 12px;
  color: #bbbbbb;
  position: absolute;
  right: 5px;
  top: -38px;
}

#nombrePersoAffiche {
  font-family: sans-serif;
  font-size: 12px;
  color: #bbbbbb;
  position: absolute;
  left: 5px;
  top: -38px;
}

#barreReussite {
  border: 2px grey solid;
  width: 200px;
  height: 15px;
  border-radius: 20px;
  position: absolute;
  left: 300px;
  top: 300px;
  background: linear-gradient(to right, red, yellow, green);
  opacity: 0;
  display: none;
  transition: 1s;
  justify-content: right;
}

#barrePourcentageReussite {
  width: 98%;
  height: 15px;
  border-radius: 0 20px 20px 0;
  transition: 2.5s;
  background-color: #1f0000;
  z-index: 4;
}

#pourcentageReussiteAffiche {
  position: absolute;
  top: -20px;
  right: 20px;
  font-size: 13px;
  color: #80cbff;
  z-index: 3;
  transition: 1s;
}

b {
  color: #bbbbbb;
}

strong {
  color: #80cbff;
}

#maj {
  color: white;
  font-weight: 100;
  font-size: 12px;
  margin: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}



@media screen and (max-width: 700px) {

  header {
    height: 10%;
  }

  #lienLogo {
  width: 90%;
  }

  #imageLogo {
    margin: 3.5vb auto auto auto;
  }

  #fondGauche, #fondDroite {
    display: none;
  }

  #fondCentre {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 8vb;
  }

  #zone {
    margin-top: 16vb;
    width:95%;
    height: 60vh;
    flex-direction: column;
  }

  #zoneTexte {
    width: 100%;
  }

  #propositions {
    margin: auto;
    padding: none;
  }

  button {
    width: 48%;
    min-width: 145px;
    font-size: 11px;
  }

  #divSousTexte {
    display: none;
  }

  #imagePerso {
    width: 70%;
    max-width: 300px;
  }

  #boutonRetour {
    left: -50px;
    top: -120px;
    opacity: 0.6;
  }

  #boutonRetour:hover {
    border-right: none;
    opacity: 0.6;
  }

  #boutonRetour:hover > img {
    transform: translateX(0);
  }

  #barreComplete {
    position: relative;
    margin: auto;
    left: auto;
    top: -40px;
  }

  #score {
    text-align: right;
    width: 100px;
    left: auto;
    right: 15%;
    top: -30px;
  }

  #compteurID {
    left: 15%;
    top: -30px;
  }

  #imageCoupe {
    width: 50%;
  }

  #barreReussite {
    position: relative;
    width: 50%;
    left: 25%;
    top: 10px;
  }

  #boutonRejouer {
    margin-top: 50px;
  }

}


